body {
    background-color: rgb(206, 128, 251);
}
label{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin:0.5rem;
    font-family:cursive;
}
button{
border: 0;
  line-height: 2.5;
  padding: 0 30px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px rgb(183, 2, 255);
  border-radius: 10px;
  background-color: rgb(105, 1, 131);
  background-image: linear-gradient(to top l)
 
}
 
h1{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-shadow: 1px 1px 1px rgb(229, 83, 255);}